mixin booking()
  section.booking.container
    h1.booking__title
      |Заполните форму, <br>
      |чтобы оформить заказ

    p Забронируйте курсы со скидкой, а мы перезвоним, проконсультируем и оформим заказ.

    h2.booking__title Итоговая стоимость
    .booking__wrapper
      p
        span.booking__crossed 000 000
        |₽
      p
        span.booking__price 0 000
        |₽/мес.
      p Рассрочка на NN месяцев

      .booking__discount
        span –00%
