mixin booking()
  section.booking.container
    .booking__lead
      h1.booking__title
        |Заполните форму, <br>
        |чтобы оформить заказ

      p.booking__description Забронируйте курсы со скидкой, а&nbsp;мы&nbsp;перезвоним, проконсультируем и&nbsp;оформим заказ.
    .booking__prices
      h2.booking__title.title Итоговая стоимость
      .booking__wrapper
        .booking__text
          p.booking__old-price
            span.booking__crossed 000 000
            |  ₽
          p.booking__hire-purchase
            span.booking__price 0 000
            span.booking__month  ₽/мес.
          p.booking__count Рассрочка на NN месяцев

        .booking__discount
          svg(width="48" height="48" aria-hidden="true").booking__svg
              use(xlink:href="img/sprite_auto.svg#star")
          span –00%
