mixin form()
  section.form.container
    form(action="#" method="post")
      +payment()
      h2.form__title.title Заполните контактные данные
      .form__item
        input(type="text" name="name" id="name" placeholder=" " minlength="3" title="Слишком короткое имя" required).form__input
        label(for="name").form__label Имя
      .form__item
        input(type="tel" name="tel" id="tel" placeholder=" " minlength="11" maxlength="18" required title="").form__input.form__input--tel
        label(for="tel").form__label Телефон
      .form__item
        input(type="email" name="email" placeholder=" " id="email" required maxlength="20" ).form__input
        label(for="email").form__label Электронная почта
      button(type="submit").btn Отправить
      p.form__agree
        | Нажимая на кнопку, я соглашаюсь на
        a(href="#")  обработку персональных данных
        |  с
        a(href="#")  правилами пользования Платформой
