.btn {
  display: inline-block;
  margin: 0;
  margin-top: 32px;
  padding: 18px 0;
  box-sizing: border-box;
  background-color: $accent-brand;
  color: $accent-always-white;
  @include text(18px, 20px, 500);
  border-radius: 12px;
  border: 0;
  width: 100%;
  text-align: center;

  cursor: pointer;
  user-select: none;

  transition: $trans-default;

  @include vp-1024 {
    width: 49%;
  }

  @include vp-1280 {
    width: 37%;
  }

  &:hover,
  &:focus {
    background-color: $accent-always-black;
  }

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    background-color: $bg-secondary-accent;
    color: $stroke-secondary;
  }
}
