.form__item {
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.form__input {
  background-color: $bg-secondary;
  border: 1px solid $stroke-main;
  color: $text-main;
  padding: 18px;
  width: 100%;

  &::placeholder {
    color: $text-main;
    @include text(16px, 20px);
  }

  &:hover {
    border: 1px solid $stroke-secondary;
  }

  &:focus {
    background-color: $bg-main;

    & + label {
      top: 9px;
      @include text(11px, 12px);
      color: $text-secondary;
    }
  }

  &:not(:placeholder-shown) + label {
    top: 9px;
    @include text(11px, 12px);
    color: $text-secondary;
  }

  &:invalid:not(:placeholder-shown) {
    border-color: $accent-danger;
    background-color: $accent-danger-bg;
  }
}

.form__label {
  position: absolute;
  left: 19px;
  top: 16px;
}

.form__agree {
  @include text(12px, 16px);
  color: $text-secondary;
  margin: 0;
  margin-top: 16px;

  & a {
    color: $text-secondary;
    text-decoration: underline;
  }
}
