.payment__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px;

  @include vp-1024 {
    gap: 8px;
  }
}

.payment__label {
  @include text(12px, 16px);
  outline: 1px solid $stroke-main;
  padding: 12px;
  display: block;
  min-width: 138px;
  min-height: 100px;
  border-radius: 12px;
  cursor: pointer;

  @include vp-1024 {
    padding: 16px;
    @include text(14px, 20px);
  }
}

.payment__input {
  position: fixed;
  opacity: 0;

  &:hover + .payment__label,
  &:focus + .payment__label {
    outline-color: $accent-brand;
    transition: $trans-default;
  }

  &:checked + .payment__label {
    outline: 2px solid $accent-brand;
    transition: none;
  }
}
