.container {
  width: 100%;
  min-width: 320px;
  padding: 40px 20px;
  background-color: $bg-main;
  border-radius: 10px;
  margin: 0 auto;

  @include vp-768 {
    padding: 32px 120px;
    border-radius: 20px;
  }

  @include vp-1024 {
    padding: 40px;
  }

  @include vp-1280 {
    max-width: 1280px;
  }
}
